.about{
    background: #ffffff;
    padding: 30px;
    display: inline-block;
}
.about h2{
    color: #014051;
    display: flex;
    justify-content: center;
    padding-bottom: 1.5rem;
    font-weight: 600;
}

.about-content{
    padding: 10px;
    font-size: 1.1rem;
    line-height: 1.8;
    width: 100%;
    color: #014051;
}
.skills{
    padding: 20px;
}
.skills ul {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 500;
    color: #333;
    padding: 5px;
}
.skills ul li{
    list-style: circle;
    text-align: center;

}

@media screen and (max-width: 768px){
    .about{
        padding: 15px;
    }
}
@media screen and (max-width: 584px){
    .skills ul{
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;
        gap: 15px;
        align-items: center;
        justify-content: center;
    }

}
@media screen and (max-width: 455px){
    .about{
        padding: 5px;
    }
}