.about{
    background: #ffffff;
    padding: 30px;
    display: inline-block;
}
.about h2{
    color: #223242;
    display: flex;
    justify-content: center;
    padding-bottom: 1.5rem;
    font-weight: 600;
}

.about-content{
    padding: 10px;
    font-size: 1.1rem;
    line-height: 1.8;
    width: 100%;
    color: #014051;
}

@media screen and (max-width: 768px){
    .about{
        padding: 15px;
    }
}
@media screen and (max-width: 455px){
    .about{
        padding: 5px;
    }
}