.navbar{    
    background: #223246;
    color: #ffffff;
    text-shadow: 2px 2px 5px #223246;
    padding: 3rem;
    height: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.menu-icon{
    display: none;
    cursor: pointer;
}
.menu-icon img{
    width: 25px;
    height: 25px;
}
.navbar-links ul {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
ul li:hover {
    color: #4A90E2;
    transform: scale(1.2);
}
ul li a{
    color: #fff;
    text-decoration: none;
    list-style: none;
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    background-color: #ffffff;
    padding: 0.5rem 0.6rem;
    border-radius: 8px;
    font-size: 1rem;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
button:hover{
    transform: scale(1.1);
    color: #ffffff;
    background: #223246;
    border: 1px solid #ffffff;
    box-shadow: 0 0 12px rgba(255, 255, 255, 0.4);
}
button:hover img{
    filter: brightness(0) invert(1);
    transition: filter 0.3s ease-in-out;
}    
button img {
    width: 20px;
    height: 20px;
    color: #223246;
    animation: arrowMove 2s ease-in-out infinite;
}
#contact-btn{
    text-decoration: none;
    list-style: none;
}
#works-button{
    text-decoration: none;
    list-style: none;
}
@keyframes arrowMove {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(6px);
  }
}

@media screen and (max-width: 840px) {
    .navbar{
        position: relative;
    }
    .navbar-name{
        display: none;
    }
        .navbar-links {
            display: none;
            position: absolute;
            top: 60px;
            left: 20px;
            background: #223246;
            padding: 1rem;
            border-radius: 8px;
            z-index: 100;
        }
        .navbar-links.active {
            display: flex;
            flex-direction: column;
            gap: 40px;
            width: 180px;
            animation: slideDown 0.4s cubic-bezier(.68,-0.55,.27,1.55);
        }
        .navbar-links.active ul {
            flex-direction: column;
            gap: 20px;
            align-items: flex-start;
        }
    .menu-icon{
        display: block;
        filter: brightness(0) invert(1);
    }

        @keyframes slideDown {
            0% { opacity: 0; transform: translateY(-30px); }
            100% { opacity: 1; transform: translateY(0); }
        }
}
@media screen and (max-width: 455px){
    .navbar{
        padding: 20px 10px;
    }
    button{
        padding: 0.3rem 0.2rem;
        font-size: 0.8rem;
    }
}